<h1> Convert <%=@symbol%> </h1>
<% @currency = @parsed_data.fetch("currencies").keys %>
<p>
Go <a href = "/"> back</a>
</p>

<ul>

<% @currency.each do |newsymbol|%>
<li><a href ="/<%=@symbol%>/<%=newsymbol%>" </a> Convert 1 <%= @symbol %> to <%= newsymbol %> </li>

<% end %>
</ul>
